<h1>This is Anh's November Lab</h1>

<form action="/post/formProcess" method="POST">     
    <label for="content">Say something about yourself:</label>     
    <input type="text" id="content" name="content" placeholder="Enter here..."></input>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%= clientVar %>